


  <div class="form-field">
    <label for="message">message</label>
    <div class="post-list">
        <ul>
          <% for (var i in message){%>
             Message: <li><%= message[i] %><li>
         <%} %>
        </ul>
    </div>
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Send</button>
  </div>
