


  <div class="form-field">
    <label for="message">messages</label>
    <div class="post-list">
        <ul>
          <% for (var i in messageArray){%>
             Message: <li><%= messageArray[i] %><li>
         <%} %>
        </ul>
    </div>
  </div>
