<!-- views/partials/navbar.ejs -->
<nav>
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/partials/contact">CreatePosts</a></li>
        <li><a href="/partials/about">About</a></li>
        <li><a href="/partials/showPosts">See Posts</a></li>
        <li><a href="/partials/welcome">Welcome</a></li>
      </ul>
    </div>
  </div>
</nav>
