<!-- views/partials/navbar.ejs -->
<nav>
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="navbar-nav">
        <li><a href="/partials/contact">Contact</a></li>
        <li><a href="/">home</a></li>
      </ul>
    </div>
  </div>
</nav>
