<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Elastic Blog and Account Indices</title>
  </head>
  <body>
    <h1>Send your data to Kibana</h1>
    <form action="/blog/" method="get">
      <label for="name">Enter name: </label>
      <input id="name" type="text" name="name_field" value="Default name">
      <input type="submit" value="OK">
    </form>
  </body>
</html> -->
<body>
  <h1>Working with Forms in Node</h1>
  <div>
    <% include ./partials/navbar %>
  </div>
</body>
